.body {
    padding: 30px;
    flex: 0.8;
    height: 100%;
    color: white;
    background: linear-gradient(rgba(91, 87, 115), rgba(0, 0, 0, 1));
}

.body__info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body__infoText {
    flex: 1;
}

.body__infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.body__infoText > p {
    font-size: 14px;
}

.body__icons {
    display: flex;
    align-items: center;
}

.body__songs {
    margin: 20px -30px;
}

.body__icons > img {
    margin-right: 10px;
}

.body__shuffle {
    height: 40px;
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.body__shuffle:hover {
    transition: 200ms transform ease-in;
    transform: scale(1.08);
}