.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 97%;
    background-color: #282828;
    padding: 20px;
}

.footer__left {
    display: flex;
    align-items: center;
    flex: 0.3;
    color: white;
    width: 300px;
}

.footer__left > .albumLogo {
    height: 80px;
    margin-right: 20px;
    object-fit: contain;
}

.footer__songInfo > h4 {
    margin-bottom: 5px;
}

.footer__songInfo > p {
    font-size: 12px;
}

.footer__center {
    flex: 0.4;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer__center > .footer__icon {
    width: 15px;
    cursor: pointer;
}

.footer__center > .footer__large {
    width: 40px;
    cursor: pointer;
}

.footer__icon:hover, .footer__large:hover {
    transition: transform 200ms ease-in-out;
    transform: scale(1.2) !important;
}

.footer__right {
    flex: 0.3;
}